In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df=pd.read_csv('creditcard.csv')

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
df.shape

(284807, 31)

In [7]:
df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [12]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [14]:
legit = df[df.Class==0]
fraud = df[df.Class==1]

In [15]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [19]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [20]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
legit_sample=legit.sample(n=492)

In [22]:
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
84063,60145.0,1.433855,-1.008413,0.352931,-1.426187,-1.387679,-0.706539,-0.874417,-0.186464,-2.279269,...,-0.027174,0.280383,-0.092728,0.364779,0.503779,-0.107072,0.022569,0.013689,40.00,0
220199,142065.0,1.144031,-1.975159,-1.109282,0.878443,-0.927697,0.080713,0.088981,-0.122503,-0.731668,...,-0.494069,-1.909117,0.090502,-0.507792,-0.672620,-1.204349,-0.024344,0.044045,476.44,0
193911,130349.0,-0.969895,0.772706,1.784816,-0.861017,0.220263,0.262741,0.498391,-0.001125,0.082126,...,0.200408,0.646511,-0.540554,0.677795,0.629573,0.685379,-0.225468,0.033969,35.45,0
99261,67041.0,1.272553,-0.043732,0.751665,0.106887,-0.865935,-0.879713,-0.345176,-0.133345,0.411543,...,0.078086,0.285361,-0.016845,0.482964,0.244970,1.069933,-0.058121,0.010334,1.00,0
74068,55411.0,-1.061270,0.215676,1.859013,-2.719207,0.487029,1.309667,0.148977,0.638827,0.825044,...,-0.113192,-0.094372,-0.086288,-1.006966,0.011695,-0.270817,-0.023922,0.035907,1.14,0

In [25]:
new_df=pd.concat([legit_sample,fraud],axis=0)

In [26]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
84063,60145.0,1.433855,-1.008413,0.352931,-1.426187,-1.387679,-0.706539,-0.874417,-0.186464,-2.279269,...,-0.027174,0.280383,-0.092728,0.364779,0.503779,-0.107072,0.022569,0.013689,40.00,0
220199,142065.0,1.144031,-1.975159,-1.109282,0.878443,-0.927697,0.080713,0.088981,-0.122503,-0.731668,...,-0.494069,-1.909117,0.090502,-0.507792,-0.672620,-1.204349,-0.024344,0.044045,476.44,0
193911,130349.0,-0.969895,0.772706,1.784816,-0.861017,0.220263,0.262741,0.498391,-0.001125,0.082126,...,0.200408,0.646511,-0.540554,0.677795,0.629573,0.685379,-0.225468,0.033969,35.45,0
99261,67041.0,1.272553,-0.043732,0.751665,0.106887,-0.865935,-0.879713,-0.345176,-0.133345,0.411543,...,0.078086,0.285361,-0.016845,0.482964,0.244970,1.069933,-0.058121,0.010334,1.00,0
74068,55411.0,-1.061270,0.215676,1.859013,-2.719207,0.487029,1.309667,0.148977,0.638827,0.825044,...,-0.113192,-0.094372,-0.086288,-1.006966,0.011695,-0.270817,-0.023922,0.035907,1.14,0

In [28]:
new_df['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [29]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95363.321138,0.091948,0.000565,-0.026510,-0.101195,-0.004812,-0.068315,0.043177,-0.026149,-0.019130,...,0.002844,-0.036948,-0.044890,-0.045341,0.025526,0.006837,0.004573,0.008944,0.023279,91.053496
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [31]:
X=new_df.drop(columns='Class',axis=1)
y=new_df['Class']

In [32]:
X.shape

(984, 30)

In [33]:
y.shape

(984,)

In [34]:
from sklearn.model_selection import train_test_split

In [52]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [53]:
X_train.shape

(787, 30)

In [54]:
y_train.shape

(787,)

In [55]:
X_test.shape

(197, 30)

In [56]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [57]:
lr=LogisticRegression()
knn=KNeighborsClassifier()
dtree=DecisionTreeClassifier()
rfc=RandomForestClassifier()

In [58]:
lr.fit(X_train,y_train)
p_lr=lr.predict(X_test)
train_pred=lr.predict(X_train)
print(accuracy_score(p_lr,y_test))
print(accuracy_score(train_pred,y_train))

0.949238578680203
0.951715374841169

C:\Users\pf1a0\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [59]:
knn.fit(X_train,y_train)
p_knn=knn.predict(X_test)
train_pre=knn.predict(X_train)
print(accuracy_score(p_knn,y_test))
print(accuracy_score(train_pre,y_train))

0.6192893401015228
0.7623888182973316

In [60]:
dtree.fit(X_train,y_train)
p_dtree=dtree.predict(X_test)
train_pr=dtree.predict(X_train)
print(accuracy_score(p_dtree,y_test))
print(accuracy_score(train_pr,y_train))

0.9289340101522843
1.0

In [61]:
rfc.fit(X_train,y_train)
p_rfc=rfc.predict(X_test)
train_p=rfc.predict(X_train)
print(accuracy_score(p_rfc,y_test))
print(accuracy_score(train_p,y_train))

0.9441624365482234
1.0